{% extends "../base/base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1>{{user.username}}</h1>
            <p class="lead text-muted">Manage your account whenever !!!!</p>
           
            <div class="container">
                <div class="row">
                    <h2>Manage your Account</h2>
                </div>
            </div>
            
        </div>
    </section>
</div>
{% endblock content %}