{% extends "../base/base.html" %}

{% block title %}Password change{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

    

<!-- <style>
    .login{
        min-height: 100vh;
    }

    .container-fluid{
        max-width: 100%;
    }

    .account-form input{
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 20px);
    }

    .account-form input:focus{
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.075);
    }
</style> -->


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <form method="POST" class="logn-form p-4 rounded">
                {% csrf_token %}
                <h1>Change your password. </h1>
                <p>Use the form below to change your password</p>


                {% if user_form.is_valid %}
                <div class="alert alert-primary" role="alert">
                    Detail successfully update !
                </div>
                <p class="small text-center pt-0 badge badge-secondary">
                    <a href="{% url 'accounts:profile' %}" text-decoration-none>Back to Dashbord</a>
                </p>
                {% else %}

                <p class="h4 mb-4 font-weight-bold">Change your detail</p>
                <p>You can edit your account using the following form: </p>

                {% endif %}

                
                {% if form.errors %}
                
                    {% for field in form %}
                      
                      {% if field.errors %}
                         <div class="alert alert-danger" role="alert">
                             {{field.errors|striptags}}
                         </div> 
                      {% endif %}
                          
                    {% endfor %}
                        
                {% endif %}

                <label class="font-weight-bold">{{form.old_password.label}}</label>
                {{form.old_password}}

                

                <ul>
                    <li>Your password can't be too similar to your other personal inforation</li>
                    <li>Your password must contain at least a character</li>
                    <li>Your password can't be a commonly used password</li>
                    <li>Your password can't be antirely numeric</li>
                </ul>

                <label class="font-weight-bold">{{form.password1.label}}</label>
                {{form.new_password1}}
            
                <label class="font-weight-bold">{{form.password2.label}}</label>
                {{form.new_password2}}
        
            <button class="btn btn-secondary btn-md py-2 mb-4 mt-5 font-weight" style="width: 100%;" type="submit">click to change your password</button>
                    
            </form>
           
        </div>
    </div>
</div>

  
{% endblock content %}